{% extends "layout.html.twig" %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}

{% block main %}
    <h1>Page à propos</h1>
{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}