{% extends "layout.html.twig" %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}

{% block main %}
<section class="about-page">
    <h1>Page à propos</h1>
</section>
{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}