{% extends "layout.html.twig" %}

{%block head %}
    <!-- Include parent block content -->
    {{ parent() }}
    <!-- Include additional stylesheet -->
    <link rel="stylesheet" type="text/css" href="./assets/styles/css/home.css">    
{% endblock %}


{% block header %}
    
    <!-- Menu -->
    <nav id="menu">
        <!-- Hamburger menu icon -->
        <button id="menu-icon">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="display-none">
            <li><a href="index.php?route=about">A Propos</a></li>
        </ul>
    </nav>
    <!-- Title of the plateform-->
    <h1>Collège en ligne</h1>
    
{% endblock %}

{% block main %}
    <!-- Main content block -->
    <p><a href="index.php?route=inscription">Inscrire les collégiens</a></p>
    <p><a href="index.php?route=collegian">Collégien</a></p>
    <p><a href="index.php?route=ajouter-cours">Cours</a></p>
{% endblock %}

{% block footer %}
    <!-- Footer links -->
    <a href="#">Mentions légales</a>
    <a href="#">Politique de confidentialité</a>
    <a href="#">Gestion des cookies</a>
    
{% endblock %}
