{% extends "layout.html.twig" %}

{% block header %}
    <header>
        <!-- Search bar -->
        <form action="index.php?route=search-course" method="GET">
            <!-- Label for the input field -->
            <label for="lessonName">Saisissez le nom du cours</label>
            <!-- Input field for entering the lesson name -->
            <input type="text" name="lessonName" placeholder="Rechercher un cours">
            <!-- Suggestions list -->
            <ul id="suggestions-list"></ul>
            <!-- Submit button for initiating the search -->
            <button type="submit">Rechercher</button>
        </form>
    </header>
{% endblock %}

{% block main %}

    <!-- Title of the lesson -->
    <h1>{{ lessonName }}</h1>
        <!-- Loop through courses -->
        {% for course in courses %}
            <section>
                <!-- Course subject -->
                <h2>{{ course.subject }}</h2>
                <!-- Course content -->
                <div>{{ course.content }}</div>
            </section> 
             {% endfor %}

{% endblock %}