{% extends "layout.html.twig" %}

{% block header %}

{% endblock %}

{% block main %}

    <!-- Title of the lesson -->
    <h1>{{ lessonName }}</h1>
        <!-- Loop through courses -->
        {% for course in courses %}
            <section>
                <!-- Course subject -->
                <h2>{{ course.subject }}</h2>
                <!-- Course content -->
                <div>{{ course.content }}</div>
            </section> 
             {% endfor %}

{% endblock %}