{% extends "layout.html.twig" %}

{% block main %}
    <!-- Title of the page -->
    <h1>Formulaire d'ajout de cours</h1>
    <!-- Form for adding a new course -->
    <form action="index.php?route=check-addCourse" method="POST" enctype="multipart/form-data">
        <!-- Fieldset for lesson selection -->
        <fieldset>
            <fieldset>
                <!-- Label for lesson ID -->
                <label for="idLesson">ID de la leçon :</label>
                <!-- Dropdown for selecting a lesson -->
                <select id="idLesson" name="idLesson" required>
                    <!-- Default disabled option -->
                    <option value="" disabled selected>Sélectionner une leçon</option>
                    <!-- Loop to display lesson selection options -->
                    {% for lesson in lessons %}
                        <option value="{{lesson.id}}">{{lesson.name}}</option>
                    {% endfor %}
                </select>   
            </fieldset>
            <!-- Fieldset for unlock date -->
            <fieldset>
                <!-- Label for unlock date -->
                <label for="unlockdate">Date de déblocage :</label>
                <!-- Input field for selecting unlock date -->
                <input type="date" id="unlockdate" name="unlockdate" required>    
            </fieldset>
            <!-- Fieldset for subject -->
            <fieldset>
                <!-- Label for subject -->
                <label for="subject">Sujet :</label>
                <!-- Input field for subject -->
                <input type="text" id="subject" name="subject" required>    
            </fieldset>
            <fieldset>
                <label for="summary">Résumé :</label>
                <textarea id="summary" name="summary" required></textarea>
            </fieldset>
            <!-- Fieldset for content -->
            <fieldset>
                <!-- Label for content -->
                <label for="content">Contenu :</label>
                <!-- Textarea for content -->
                <textarea id="content" name="content" charset="utf-8" required></textarea>   
            </fieldset>
            <fieldset>
                <label for="image">Image :</label>
                <input type="file" id="image" name="image" accept="image/*">    
            </fieldset>
            <fieldset>
                <label for="audio">Audio :</label>
                <input type="file" id="audio" name="audio" accept="audio/*">
            </fieldset>
            <fieldset>
                <label for="video">Vidéo (lien YouTube) :</label>
                <input type="text" id="video" name="video" placeholder="Insérez le lien YouTube de la vidéo">
            </fieldset>
            <fieldset>
                <label for="fichierpdf">Fichier PDF :</label>
                <input type="file" id="fichierpdf" name="fichierpdf" accept=".pdf">
            </fieldset>
            <fieldset>
                <label for="link">Lien :</label>
                <input type="text" id="link" name="link">
            </fieldset>
            <!-- Submit button -->
            <button type="submit">Ajouter le cours</button>
        </fieldset>
    </form>
    <!-- Importing JavaScript module for client-side validation -->
    <script type="module" src="./assets/js/main.js"></script>
    
{% endblock %}