{% block footer %}
    <!-- Footer links -->
    <a href="index.php?route=legacy-policy">Mentions légales</a>
    <a href="#">Politique de confidentialité</a>
    <a href="#">Gestion des cookies</a>
    
{% endblock %}
