{% block header %}
    
    <!-- Menu -->
    <nav id="menu">
        <!-- Hamburger menu icon -->
        <button id="menu-icon">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="display-none">
            <li><a href="index.php?route=about">À Propos</a></li>
        </ul>
    </nav>
    <!-- Title of the plateform-->
    <h1>Collège en ligne</h1>
    
{% endblock %}