<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
        <!-- Document metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Title and Description -->
        <title>Collège en ligne</title>
        <meta name="description" content="Plateforme en ligne pour les collégiens, permettant l'inscription, la connexion et l'accès aux cours.">
        
        <!-- Keywords for SEO -->
        <meta name="keywords" content="collège, cours en ligne, éducation, accès cours">
        
        <!-- Author -->
        <meta name="author" content="Ange Kamwang Mbang">
        
        <!-- Social Media Integration -->
        <meta property="og:title" content="Collège en Ligne">
        <meta property="og:description" content="Plateforme en ligne pour les collégiens, permettant l'accès aux cours.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.college-en-ligne.fr">
        <meta property="og:image" content="https://www.college-en-ligne.fr/path/to/image.jpg">
        
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Collège en Ligne">
        <meta name="twitter:description" content="Plateforme en ligne pour les collégiens, permettant l'accès aux cours.">
        <meta name="twitter:image" content="https://www.college-en-ligne.fr/path/to/image.jpg">
        
        <!-- Favicons -->
        <link rel="icon" href="./assets/images/favicon.png" type="image/png">
        <link rel="apple-touch-icon" href="./assets/images/favicon.png">
        
        <!-- External stylesheet -->
        <link rel="stylesheet" href="./assets/styles/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        
        <!-- TinyMCE script for rich text editing -->
        <!--<script src="https://cdn.tiny.cloud/1/tezye03wmjsy94ybj3g8ccpeytbwk52p08mdwxp73zvujffe/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> -->
        
        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Collège en Ligne">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.college-en-ligne.fr">
        <meta property="og:image" content="https://www.college-en-ligne.fr/path/to/image.jpg">
        <meta property="og:description" content="Plateforme en ligne pour les collégiens, permettant l'accès aux cours.">
        <meta property="og:site_name" content="Collège en Ligne">
        <meta property="og:locale" content="fr_FR">
        
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Collège en Ligne">
        <meta name="twitter:description" content="Plateforme en ligne pour les collégiens, l'accès aux cours.">
        <meta name="twitter:image" content="https://www.college-en-ligne.fr/path/to/image.jpg">
        <meta name="twitter:site" content="@college_en_ligne">
        <meta name="twitter:creator" content="@auteur">
        
        <!-- Additional SEO Meta Tags -->
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#ffffff">
        
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Header content block -->
            {% block header %} {% endblock %}
        </header>
        <main>
            <!-- Main content block -->
            {% block main %} {% endblock %}
        </main>
        <footer>
            <!-- Footer content block -->
            {% block footer %} {% endblock %}
        </footer>
        
    <!-- Include JavaScript file -->
    <script type="module" src="./assets/js/main.js"></script>    
    </body>
</html>