<!DOCTYPE html>
<html lang="fr">
    <heead>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./assets/styles/css/style.css" />
        <script src="https://cdn.tiny.cloud/1/tezye03wmjsy94ybj3g8ccpeytbwk52p08mdwxp73zvujffe/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    </heead>
    <body>
        <header>
            {% block header %} {% endblock %}
        </header>
        <main>
            {% block main %} {% endblock %}
        </main>
        <footer>
            {% block footer %} {% endblock %}
        </footer>
        
    </body>
</html>