{% extends "layout.html.twig" %}

{% block head %}
    <!-- Include parent block content -->
    {{ parent () }}
    <!-- Include additional stylesheet -->
    <link rel="stylesheet" type="text/css" href="./assets/styles/css/login.css"> 
{% endblock %}

{% block header %}
    <!-- Hamburger menu icon -->
    <i class="fas fa-bars" id="menu-icon"></i>
    
    <!-- Menu -->
    <nav id="menu">
        <ul>
            <li><a href="#">A Propos</a></li>
        </ul>
    </nav>
    <!-- Title of the plateform-->
    <h1>Collège en ligne</h1>
{% endblock %}

{% block main %}

    <!-- Title for the login page -->
    <h2>Connexion</h2>
        
        <!-- Alert message section -->
        <section class="alert-message">
            <!-- Error message placeholder -->
            <h2 id="error-message"></h2>
            <!-- Button to close the error message -->
            <button type="button" class="close-btn-error">Fermer</button>
        </section>
    
    <!-- Login form -->
    <form action="index.php?route=checkLogin" method="POST" id="login-form">
        
        <!-- CSRF token field -->
        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}" />
            
        <fieldset>
            <!-- Email input field -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </fieldset>
        <fieldset>
            <!-- Password input field -->
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
        </fieldset>
        <!-- Submit button -->
        <button type="submit">Se connecter </button>
        
    </form>
    
{% endblock %}

{% block footer %}
    <!-- Footer links -->
    <a href="#">Mentions légales</a>
    <a href="#">Politique de confidentialité</a>
    <a href="#">Gestion des cookies</a>
{% endblock %}