{% extends "layout.html.twig" %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}

{% block main %}
<section class="sub-admin-home">
    {% for class in classes %}
        <div class="class-section">
            <section class="class-grid">
                <h2 class="class-level">{{ class.classLevel }}</h2>
                <h3 class="course-title">Cours</h3>
                <div class="links">
                    <a href="index.php?route=ajouter-cours">Ajouter</a>
                </div>
                <ul class="lesson-list">
                    {% for lesson in class.lessons %}
                    <li>
                        <h4><a href="index.php?route=teacher-courses&lesson_id={{ lesson.lessonId }}">{{ lesson.lessonName }}</a></h4>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    {% endfor %}
</section>
{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}