{% extends "layout.html.twig" %}

{% block main %}
    
    <!-- Main content block -->
    <p><a href="index.php?route=inscription">Inscrire</a></p>
    <p><a href="index.php?route=teacher">Professeurs</a></p>
    <p><a href="">Cours</a></p>
    
{% endblock %}