body {
    max-width: 430px;
    height: auto;
    padding: auto;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.course-summary-section {
    background-color: #D9D9D9;
    color: #333; 
    font-size: 1.5rem;
    
}

.course-summary {
    margin-top: -1rem;
}

.course-summary-section h4 {
   
    margin-top: 0.8Rem;
}
.youtube-video {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-title h2 {
    text-align: center;
    font-size: 2rem;
    /*border-bottom: 2px solid red; /* Adds a red solid border at the bottom */
    width: 100%; /* Adjusts the width of the bottom border */
    margin: auto; /* Centers the title horizontally */
    
}
.course-title h3 {
    font-size: 1.8rem;
    /*padding-top: 1rem;*/
    text-align: center;
    margin: 0.5rem;
    padding: 0;
}

.course-render h5 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    font-weight: bold;
}
.course-render {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #D9D9D9;
    color: #333;
    padding: 1rem;
    margin-top: 1.3rem;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
    font-size: 1.5rem;
    border-radius: 15px;
}

.course-render img {
    width: 100%;
    height: auto;
    text-align: center;
    margin :0;
    padding: 0;
}
.course-render a, .course-link a {
    align-self: center;
    padding-bottom: 0.5rem;
    
}


header, 
footer {
    background-color: #A30707;
    height: 75px;
    display: flex;
    align-items: center;
}

header i,
header nav ul li a, 
header h1 {
    color: white;
    margin: 0.5rem 1rem 0.5rem 1.5rem; 
}

header i, 
h1 {
    font-size: 2rem;    
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    font-size: 14px;
}

#menu .display-none {
    display: none;
}

#menu-icon, 
.search-logout-container button {
    border: none;
    background-color: inherit;
}
.search-logout-container button {
    font-size: 2rem;
    color: #A30707;
    margin-top: -1rem;
}


main {
    background-color: #1F203E;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.search-logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative; /* Ajout de position relative */
}

.search-logout-container form input, .search-logout-container form button, .search-logout-container  button {
    padding: 0.5rem;    
}

.search-logout-container form input {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 1rem 2rem 1rem 4rem;
    margin-left: 2.2rem;
    position: relative; /* Ajout de position relative */
    width: 200px;
}

.search-logout-container form i {
    color: #072D67;
    font-size: 1.5rem;
    position: absolute; /* Ajout de position absolue */
    left: 3rem; /* Ajustement de la position */
    top: 34%; /* Ajustement de la position */
    transform: translateY(-50%); /* Ajustement de la position */
}

.fa-circle-arrow-up {
    color: #A30707;
    font-size: 2rem;
    margin-top: -2rem;
/*margin-right: 2rem;*/
}

main ul {
    color: white;
    font-size: 1.5rem;
}

footer {
    flex-direction: column;
    justify-content: center;
}
footer a {
    color: white;
    font-size: 12px;
    
}