header, footer {
    background-color: #A30707;
    height: 10%;
    display: flex;
    padding: 0.5rem;
}

header i,
header nav ul li a, header h1 {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0 1.5rem; 
}
header i {
     font-size: 2rem;    
}
header nav ul li a {
    text-decoration: none;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

main {
    background-image: url("../../../images/background-image.png");
    background-size: cover;
    background-position: center;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h2 {
    color: #1F203E;
    font-size: 2.5rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
fieldset label {
    display: none;
}
input {
    padding: 1rem;
    background-color: #D9D9D9;
    border: 1px solid #1F203E;
}
form button {
    background-color: #1F203E;
    color: white;
    width: 150px;
    padding: 0.5rem;
    border-radius: 10px;
    align-self: center;
    font-size: 1.2rem;
}


footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a {
    color: white;
    font-size: 12px;
}