html {
    width: 100%;
    /*font-size: 62.5%;*/
    background-color: black;
}
body {
    box-sizing: border-box;
    max-width: 430px;
    min-height: 100vh;
    padding: auto;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

/******************  Style pour block header et block footer ***********/
header {
    flex-shrink: 0; 
    background-color: #A30707;
    height: 10vh;
    display: flex;
    align-items: center;
    }

header i,
header nav ul li a, 
header h1 {
    color: white;
    margin: 0.5rem 1rem 0.5rem 1.5rem; 
}

header i, 
h1 {
    font-size: 2rem;    
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    font-size: 14px;
}

#menu .display-none {
    display: none;
}

#menu-icon {
    border: none;
    background-color: inherit;
}

footer {
    flex-direction: column;
    justify-content: center;
    height: 75px;
}
footer a {
    color: white;
    font-size: 12px;
}
footer {
    flex-shrink: 0; 
    background-color: #A30707;
    height: 10vh;
    display: flex;
    align-items: center;
}
header {
   height: 75px;   
}
/*******************************************************************/




/******************************** Main *****************************/
main {
    min-height: 90vh;
}
/*******************************************************************/





/********************* style for home page ************************/
.home, 
.superAdminHome-page, 
.admin-home-page {
    background-color: #1F203E;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home p, 
.superAdminHome-page p, 
.admin-home-page p{
    font-size: 2rem;
}
.home p a, 
.superAdminHome-page p a, 
.admin-home-page p a {
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/******************************************************************/






/**************** style for subAdmin home page *********************/
.sub-admin-home {
    background-color: #1F203E;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: center;
}

.sub-admin-home .class-section {
    margin-bottom: 2rem; /* Space between each class section */
}

.sub-admin-home .class-grid {
    display: grid;
    grid-template-columns: 1.1fr 1.7fr 1.2fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "level title links"
        ". list list";
    gap: 1rem;
    align-items: center;
}

.sub-admin-home .class-level {
    grid-area: level;
    margin: 0;
}

.sub-admin-home .course-title {
    grid-area: title;
    margin: 0;
    background-color: #A30707;
    padding: 0.1rem 0.9rem 0.1rem 0.9rem;
    font-size: 1.4rem;
}

.sub-admin-home .links {
    grid-area: links;
    display: flex;
    gap: 1rem; /* Space between the links */
}

.sub-admin-home .links a {
    text-decoration: none;
    padding: 0.3rem 0.8rem;
    border: 1px solid #007bff;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
    color: white;
    font-size: 1.2rem;
    background-color: #3D12E0;
}

.sub-admin-home .links a:hover {
    background-color: #007bff;
}

.sub-admin-home .lesson-list {
    grid-area: list;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    background-color: #D9D9D9;
    width: 140px;
    padding: 0.5rem;
    font-size: 1rem;
}

.sub-admin-home .lesson-list a {
     color: #333;    
}

.sub-admin-home .lesson-list li {
    padding: 0.5rem 0;
}

.sub-admin-home .lesson-list li h4 {
    margin: 0;
}
/*******************************************************************/





/**************************** style for register form **************/
.register-form fieldset, 
.edit-collegian fieldset {
    flex-direction: column;
    border: none;    
}

.register-form select, 
.addLesson-page select, 
.course-form-page select, 
.update-course-form-page select, 
.edit-collegian select {
    width: 200px;
    padding: 1rem;
    background-color: #D9D9D9;
    border: 1px solid #1F203E; 
    border-radius: 4px;
    -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%231F203E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center; /* Adjust the position of the arrow */
    background-size: 1em; /* Adjust the size of the arrow */
}

.register-form button {
    margin-left: 3rem;
}

.firstNameField,
.lastNameField,
.emailField,
.passwordField,
.confirmPasswordField,
.idClassField,
.idLanguageField{
    display: none;
}
/*******************************************************************/





/****************** style for login and register page *****************/
.login-form, 
.register-form, 
.update-teacher-page, 
.edit-collegian {
    background-image: url("../../../images/background-image.png");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form h2,
.register-form h2 {
    color: #1F203E;
    font-size: 2.5rem;
    text-align: center;
}
.edit-collegian h2 {
    color: #1F203E;
    font-size: 2rem;   
}
.login-form form, 
.register-form form, 
.update-teacher-page form, 
.addLesson-page form, 
.course-form-page form, 
.update-course-form-page form, 
.edit-collegian form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.login-form fieldset, 
.update-teacher-page fieldset, 
.addLesson-page fieldset, 
.course-form-page form fieldset, 
.update-course-form-page form fieldset, 
.edit-collegian form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
.login-form fieldset label, 
.register-form fieldset label, 
.update-teacher-page fieldset label, 
.edit-collegian fieldset label {
    display: none;
}
.login-form input, 
.register-form input, 
.update-teacher-page input, 
.addLesson-page input, 
.course-form-page input, 
.course-form-page textarea, 
.update-course-form-page textarea, 
.edit-collegian textarea, 
.edit-collegian input {
    padding: 1rem;
    background-color: #D9D9D9;
    border: 1px solid #1F203E;
    border-radius: 4px;
}
.login-form form button, 
.register-form button, 
.update-teacher-page button, 
.addLesson-page button, 
.course-form-page form button, 
.update-course-form-page button, 
.edit-collegian button {
    background-color: #1F203E;
    color: white;
    width: 150px;
    padding: 0.5rem;
    border-radius: 10px;
    align-self: center;
    font-size: 1.2rem;
}
.course-form-page .big {
    width: 280px;
}
.course-form-page input p a {
    color: #1F203E;
}

.login-form #error-message {
    font-size: 1.2rem;
}

.alert-message {
    display: none;
}

.modal, .registerModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content, .register-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close, .registerClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
close:focus,
.registerClose:hover, 
.registerClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/******************************************************************/





/************** style for regidterLogin page **********************/
.register-login-form .hidden {
    display: none;
}
.register-login-form .toggle-link {
    cursor: pointer;
}

.register-login-form p .section-form-a, 
.register-login-form p {
    color: #1F203E;
    font-weight: 700;
    background-color: #D9D9D9;
    padding:0.5rem; 
    border-radius: 5px;
}
/******************************************************************/






/************** style for lesson page ******************************/
.home-page {
    background-color: #1F203E;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.search-logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    position: relative; 
    margin-bottom: 1.2rem;
}

.search-logout-container form input, 
.search-logout-container form button {
    padding: 0.5rem;  
    border: none;
    background: inherit;
}

.search-logout-container a {
    font-size: 2rem;
    color: #A30707;
    text-decoration: none; 
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
}

.search-logout-container form input {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 1rem 2rem 1rem 4rem;
    margin-left: 0.8rem;
    position: relative;
}

.search-logout-container form i {
    color: #072D67;
    font-size: 1.5rem;
    position: absolute; 
    left: 3rem; 
    top: 50%; 
    transform: translateY(-50%); 
}

.home-page ul {
    color: white;
    font-size: 1.5rem;
}

.home-page .lesson-title {
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid red; /* Adds a red solid border at the bottom */
    width: 80%; /* Adjusts the width of the bottom border */
    margin: auto; /* Centers the title horizontally */
}
.home-page .lesson-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid red;
    margin-top: 10px;
}

.home-page .lesson-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-page .lesson-info a {
    color: white;
    background-color: #3D12E0;
    padding: 0.3rem 1rem 0.5rem 1rem;
    text-decoration: none;
    border-radius: 15px;
}

.home-page h3 {
    font-size: 2rem;
    margin-left: 0.8rem;
}
/*******************************************************************/





/****************** style for lessonCourse page *******************/
.lessonCourse-page, 
.teacher-courses-page {
    background-color: #1F203E;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}
.lessonCourse-page .course-container .course-nav {
    display: none;
}
.lessonCourse-page .course-introduction-section {
    display: none;
}
.lessonCourse-page .hidden-course-summary-section {
    display: none;
}

.lessonCourse-page ul {
    color: white;
    font-size: 1.5rem;
}

.lessonCourse-page .course-summary-section, 
.teacher-courses-page .course-summary-section {
    background-color: #D9D9D9;
    color: #333; 
    font-size: 1.5rem;
    
}

.lessonCourse-page .course-summary, 
.teacher-courses-page .course-summary {
    margin-top: -1rem;
}

.lessonCourse-page .course-summary-section h4, 
.teacher-courses-page .course-summary-section h4 {
    margin-top: 0.8Rem;
}
.lessonCourse-page .youtube-video, 
.teacher-courses-page .youtube-video {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessonCourse-page .course-title h2, 
.teacher-courses-page .course-title h2 {
    text-align: center;
    font-size: 2rem;
}
.lessonCourse-page .course-title h3, 
.teacher-courses-page .course-title h3 {
    font-size: 1.8rem;
    /*padding-top: 1rem;*/
    text-align: center;
    margin: 0.5rem;
    padding: 0;
}

.lessonCourse-page .course-render h5, 
.teacher-courses-page .course-render h5 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    font-weight: bold;
}
.lessonCourse-page .course-render, 
.teacher-courses-page .course-render {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #D9D9D9;
    color: #333;
    padding: 1rem;
    margin-top: 1.3rem;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
    font-size: 1.5rem;
    border-radius: 15px;
}

.lessonCourse-page .course-render img, 
.teacher-courses-page .course-render img {
    width: 100%;
    height: auto;
    text-align: center;
    margin :0;
    padding: 0;
}
.course-render a, .course-link a {
    align-self: center;
    padding-bottom: 0.5rem;
    
}
/******************************************************************/





/********************** style for teacher page ******************/
.teacher-page {
    background-color: #1F203E;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white; 
    font-size: 1.5rem;
}
.teacher-page a i {
    color: red;
}

.teacher-page h2 {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 2px solid red; /* Adds a red solid border at the bottom */
    width: 99%; /* Adjusts the width of the bottom border */
    margin: auto; /* Centers the title horizontally */
}

.teacher-page ul li {
    margin-bottom: 2rem;
}

.teacher-page .action-links {
 display: flex;
 justify-content: end;
 gap: 2.5rem;
 margin-top: -1.7rem;
}

.teacher-page h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid red;
    margin-top: 10px;
}
/****************************************************************/





/******************** style for edit teacher page **************/
.update-teacher-page h2 {
    color: #1F203E;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}   
/***************************************************************/






/************************ style for lesson form page ***********/
.addLesson-page {
    min-height: 90vh;
    background-color:#1F203E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 1rem;
}

.addLesson-page input, 
.course-form-page input, 
.update-course-form-page input {
    width: 250px;
}

.addLesson-page select, 
.course-form-page form select, 
.update-course-form-page form select {
    width: 280px;    
}
.addLesson-page .start-time {
    margin-top: -1.7rem;
}
.addLesson-page form button, 
.course-form-page form button, 
.update-course-form-page button{
    background-color: #3D12E0;
}
.addLesson-page fieldset label, 
.course-form-page fieldset label, 
.update-course-form-page fieldset label {
    font-size: 1rem;
}
.addLesson-page h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 2px solid white; /* Adds a red solid border at the bottom */
    width: 95%; /* Adjusts the width of the bottom border */
    
}
.addLesson-page h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid red;
    margin-top: 10px;   
}

/***************************************************************/






/************************* collegian page *********************/
.collegian-page {
    background-color: #1F203E;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

.collegian-page i {
    color: red;
}
.collegian-page table {
    width: 350px;
    background-color: white;
    color: black;
    padding: 1rem;
}

.collegian-page table th, 
.collegian-page table td {
    padding: 1rem;
}

.collegian-page table td a {
    margin-left: 0.6rem;
}

.collegian-page h2 {
    font-size: 2rem;
}
/**************************************************************/






/********* style for course form page ****************************/
.course-form-page, 
.update-course-form-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F203E;
    color: white;
}
/****************************************************************/



/************ style for teacher courses page ********************/
.teacher-courses-page .course-actions {
    display: flex;
    justify-content: space-evenly;
    background-color: #A30707;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.teacher-courses-page .course-actions a {
    color: white;   
}
.editCourse button {
    margin-bottom: 1rem
}
/*****************************************************************/






/************************** style for error page *****************/
.error-page, .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F203E;
    color: white;
    min-height: 90vh;
}
/*****************************************************************/






/*********************** Medias queries ***************************/

