html {
    width: 100%;
     height: 100vh;
    /*background-color: black
    /*font-size: 62.5%;*/
}
body {
    max-width: 430px;
    height: auto;
    padding: auto;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main {
    height: auto;
}

/* register form*/
.firstNameField,
.lastNameField,
.emailField,
.passwordField,
.confirmPasswordField,
.idClassField,
.idLanguageField{
    display: none;
}

/* login form */
.alert-message {
    display: none;
}
